p 
{
    color: green;
}
h1
{
    color: red;
}

.class1
{
    text-align: center;
    margin: 10px, 5px, 12px, 15px;
}

ul
{
    display: list-item;
    background-color: yellow;
    padding: 20px;
    /*width: 100px; */
    margin: 10px;
    float: left;
    list-style:none;
    text-align: center;
}

ul:hover
{
    background-color: yellowgreen;
}


body
{
    background-image: url("the goat.png");
}